[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
Pillow = "*"
mss = "*"
opencv-python = "*"
simpleaudio = "*"
pyautogui = "*"

[requires]
python_version = "3.9"
